:root {
  --color-gen-1: #a1c3d1;
  --color-gen-2: #f172a1;
  --color-gen-3: #e64398;
  --color-gen-4: rgb(240, 235, 244);

  --color-grey: #a1c3d1;
  --color-purple: #ff3366;
  --color-chalk: rgb(240, 235, 244);
  --color-pink: #f172a1;
  --color-dark-pink: #e64398;
  --color-menu: #f172a1;
  --color-cream: #f9f6f0;
  --color-blue: #3776ab;
  --color-purple-blue: #5d4f85;

  --color-burgundy: #501f3a;
  --color-pink-dark-2: #cb2d6f;
  --color-grey-2: #cccccc;
  --color-green: #14a098;
  --color-light-green: #5ca9a5;
  --color-black: #0f292f;
  --color-light-black: #777;
  --svg-size: 100%;

  --line: 1px solid var(--color-grey);

  /* 1200px */
  --bp-largest: 75em;

  /* 1100px */
  --bp-large: 68.75em;

  /* 900px */
  --bp-medium: 56.25em;

  /* 600px */
  --bp-small: 37.5em;

  /* 500px */
  --bp-smallest: 31.25em;

  --default-font-size: 1.6rem;

  --base-font-size: 20px;
  --base-line-height: 25px;

  --transition-fast: 0.1s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-light-black);
  padding: 30px;
  height: 100vh;
}

.layout {
  height: 95vh;
  background-color: var(--color-chalk);
  background-size: cover;
  position: relative;
  overflow: auto;
}

.ext-layout {
  background-color: var(--color-chalk);
  background-size: cover;
  position: relative;
  height: 95vh;
  overflow: auto;
}

.intro-box {
  position: absolute;
  top: 25%;
  left: 28%;
}

.intro {
  position: absolute;
  top: 60%;
  left: 60%;
}

.heading-primary {
  color: var(--color-purple);
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
}
.heading-primary-sub {
  margin-top: 3rem;
  display: block;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
}

.heading-primary-sub::before {
  content: '<p>';
  font-family: 'La Belle Aurore', cursive;
  color: var(--color-green);
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: -2.5rem;
}

.heading-primary-sub::after {
  content: '<p/>';
  font-family: 'La Belle Aurore', cursive;
  color: var(--color-green);
  font-size: 18px;
  position: absolute;
  left: -2.5rem;
  bottom: -2rem;
}

@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottomMenu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: 0;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
.delay-9 {
  animation-delay: 2.7s;
}
.delay-10 {
  animation-delay: 3s;
}
.delay-11 {
  animation-delay: 3.3s;
}
.delay-12 {
  animation-delay: 3.6s;
}
.delay-13 {
  animation-delay: 3.9s;
}
.delay-14 {
  animation-delay: 4.2s;
}
.delay-15 {
  animation-delay: 4.5s;
}

.fade-in {
  animation: moveInTop 0.8s ease-out 0.4s;
  animation-fill-mode: backwards;
}

.animate-left {
  animation-name: movInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.animate-left-fast {
  animation-name: movInLeft;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.animate-right {
  animation: movInRight 1s ease-out;
}

.animate-right-fast {
  animation: movInRight 0.75s ease-out;
}

.animate-bottom {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.animate-menu {
  animation: moveInBottom 0.3s ease-out 0.75s;
}

.logo {
  position: fixed;
  bottom: 2%;
  right: 5%;
  height: 148px;
  width: 235px;
}

.pos-1 {
  position: absolute;
  bottom: 35%;
  right: 23%;
  stroke: var(--color-gen-1);
  stroke-width: 0.6em;
  width: 10%;
  fill: transparent;
  transform: rotate(90deg);
  z-index: 2;
  width: 45%;
}

.pos-2 {
  position: absolute;
  bottom: 20%;
  right: 2.75%;
  stroke: var(--color-gen-2);
  stroke-width: 1em;
  width: 10%;
  fill: var(--color-gen-2);
  transform: rotate(90deg);
  width: 50%;
}

.pos-3 {
  position: absolute;
  bottom: 40%;
  right: 30%;
  stroke-width: 1em;
  width: 9.4%;
  fill: var(--color-gen-3);
  transform: rotate(90deg);
  z-index: 3;
  opacity: 0.6;
  width: 40%;
}

.pos-4 {
  position: absolute;
  bottom: 22%;
  right: -5%;
  stroke-width: 1em;
  width: 2%;
  fill: var(--color-green);
  transform: rotate(90deg);
  z-index: 3;
  width: 10%;
}

.pos-5 {
  position: absolute;
  bottom: 30.5%;
  right: 6.8%;
  stroke-width: 1em;
  width: 4%;
  fill: var(--color-gen-4);
  transform: rotate(90deg);
  z-index: 3;
  width: 15%;
}

.about-section {
  height: 95vh;
  background-color: var(--color-chalk);
  background-size: cover;
  position: relative;
}

.text-area {
  max-width: inherit;
  position: relative;
  top: 10%;
  margin: auto;
  width: 63%;
  padding: 10px;
  top: 20%;
}

.profile-pic {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%;
  max-height: 200px;
  max-width: 200px;
}

.projects-filter {
  filter: drop-shadow(1px 0px 0px var(--color-purple))
    drop-shadow(-1px 0px 0px var(--color-purple))
    drop-shadow(0px 1px 0px var(--color-purple))
    drop-shadow(0px -1px 0px var(--color-purple))
    drop-shadow(1px 1px 0px var(--color-purple))
    drop-shadow(-1px -1px 0px var(--color-purple))
    drop-shadow(-1px 1px 0px var(--color-purple))
    drop-shadow(1px -1px 0px var(--color-purple));
  width: 40%;
  height: 50%;
}

.arrowBg {
  filter: drop-shadow(1px 0px 0px var(--color-purple))
    drop-shadow(-1px 0px 0px var(--color-purple))
    drop-shadow(0px 1px 0px var(--color-purple))
    drop-shadow(0px -1px 0px var(--color-purple))
    drop-shadow(1px 1px 0px var(--color-purple))
    drop-shadow(-1px -1px 0px var(--color-purple))
    drop-shadow(-1px 1px 0px var(--color-purple))
    drop-shadow(1px -1px 0px var(--color-purple));
  shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 30%;
  margin-right: 1%;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  max-height: 200px;
  max-width: 200px;
}

.projects-container {
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  padding-top: 20px;
}

.projects-item {
  width: 88%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2%;
}

.projects-image {
  filter: drop-shadow(1px 0px 0px var(--color-purple))
    drop-shadow(-1px 0px 0px var(--color-purple))
    drop-shadow(0px 1px 0px var(--color-purple))
    drop-shadow(0px -1px 0px var(--color-purple))
    drop-shadow(1px 1px 0px var(--color-purple))
    drop-shadow(-1px -1px 0px var(--color-purple))
    drop-shadow(-1px 1px 0px var(--color-purple))
    drop-shadow(1px -1px 0px var(--color-purple));
  shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 15%;
  margin-right: 1%;
  margin-left: 1%;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  max-height: 200px;
  max-width: 200px;
}

.projects-pic {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  width: 100%;
}
.projects-item:nth-of-type(2n) {
  position: relative;
  left: 5%;
}

.projects-item:last-child {
  margin-bottom: 14.7vh;
}

.projects-detail {
  text-align: left;
  padding-top: 2.5%;
  width: 80%;
}

.heading-tertiary {
  font-size: var(--default-font-size);
  font-weight: 700;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(var(--color-black), 0.1);
  background-color: var(--color-green);
  border-radius: 3px;
  padding: 6rem;
  font-size: var(--default-font-size);
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

.margin-left-small {
  margin-left: 12%;
}

.p-margin-left-small {
  margin-left: 8%;
}

h3 {
  box-sizing: border-box;
  font-weight: lighter;
  margin: 0;
  text-shadow: 0 0.05em 0.1em rgba(var(--hex-text-shadow), 0.67);
}

.hex-clip {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 125%;
  width: 35%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.experience-image {
  filter: drop-shadow(1px 0px 0px var(--color-purple))
    drop-shadow(-1px 0px 0px var(--color-purple))
    drop-shadow(0px 1px 0px var(--color-purple))
    drop-shadow(0px -1px 0px var(--color-purple))
    drop-shadow(1px 1px 0px var(--color-purple))
    drop-shadow(-1px -1px 0px var(--color-purple))
    drop-shadow(-1px 1px 0px var(--color-purple))
    drop-shadow(1px -1px 0px var(--color-purple)) contrast(70%);
  shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: auto;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.exp-container {
  position: absolute;
  top: 18%;
  left: -15%;
}

.exp-heading {
  text-align: center;
  padding-top: 2%;
  font-size: 250%;
  margin-bottom: 6vh;
}

.projects-heading {
  text-align: center;
  padding-top: 2%;
  font-size: 250%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-height: 70vh;
  overflow: auto;
}
.cards__item {
  display: flex;
  padding: 1rem;
}

.card {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .tran {
  filter: contrast(100%);
  cursor: pointer;
}

.tran {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(50%);
  overflow: hidden;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.card__image::before {
  content: '';
  display: block;
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
}

.contact-layout {
  height: 95vh;
  background-color: var(--color-chalk);
  background-size: cover;
  position: relative;
}

.contact-button-wrapper {
  margin-top: 20%;
  margin-left: 13%;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
}

.contact-button-wrapper:hover .hexagon-background {
  color: #ddd;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  width: 50px;
  height: 50px;
}

.hexagon {
  color: var(--color-cream);
  background: currentcolor;
  height: 100%;
  width: calc(100% * 0.57735);
  width: calc(100% * 0.57735);
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform;
}

.hexagon-border {
  color: var(--color-pink);
  transform: translateX(-50%) scale(1.1);
  transform-origin: center;
}

.hexagon:before,
.hexagon:after {
  content: '';
  background: currentcolor;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(120deg);
}

.contact-button-wrapper[clicked] .hexagon-container {
  animation: loading 1s linear infinite;
}
.contact-button-wrapper[clicked] .hexagon-border {
  color: var(--color-dark-pink);
}
.contact-button-wrapper svg {
  color: var(--color-light-black);
  fill: currentcolor;
  transition: all 0.4s;
}
.contact-button-wrapper[clicked] svg {
  color: var(--color-dark-pink);
  fill: currentcolor;
}

.contact-button-wrapper[clicked] .button-instruction {
  color: var(--color-dark-pink);
}

.button-instruction {
  color: var(--color-light-black);
  font-weight: 900;
}

.beside {
  display: flex;
  width: 100%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.plane-send {
  display: block;
  fill: var(--color-light-black);
}

.success {
  flex: 1;
  display: none;
}

.thanks-message {
  padding-top: 5%;
  display: none;
  margin-left: 2rem;
  padding-top: 2.2rem;
}

.form__group {
  display: flex;
  justify-content: space-evenly;
}

.build-statement {
  text-align: center;
  position: relative;
  bottom: -35%;
  margin: auto;
  width: 50%;
  font-size: 0.8rem;
  line-height: 1.5;
}

/**896px min****/
@media (min-width: 60rem) {
  .cards__item {
    width: 25%;
  }
}

@media (min-width: 750px) {
  .projects-heading {
    margin-bottom: 6vh;
  }
}

@media (min-width: 750px) {
  .projects-heading {
    margin-bottom: 0vh;
  }
}

@media only screen and (max-width: 1050px) {
  .contact-layout {
    min-height: 95vh;
    background-color: var(--color-chalk);
    background-size: cover;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .pad-left {
    padding-left: 5%;
  }

  .build-statement {
    bottom: -12%;
    width: 85%;
  }

  .projects-heading {
    padding-top: 20%;
    margin-bottom: 3vh;
  }

  .projects-container {
    padding-bottom: 0;
  }

  .cards {
    overflow: initial;
  }

  .exp-heading {
    padding-top: 25%;
    margin-bottom: 2%;
  }

  .cards__item {
    margin-bottom: 5vh;
  }

  .card__text {
    max-width: 63%;
    margin: auto;
  }

  .cards__item:last-child {
    margin-bottom: 32vh;
  }

  .logo {
    width: 25%;
    height: 15%;
  }

  .arrowBg {
    width: 35%;
  }

  .about-text {
    padding: 10px;
  }

  .text-area {
    padding: 0;
    width: 95%;
    top: 12%;
    padding-left: 2%;
  }

  .intro-box {
    left: 20%;
    top: 12%;
  }

  *::before {
    box-sizing: content-box;
  }

  .header {
    height: 100vh;
    margin-bottom: 0;
  }

  body {
    padding: 0;
  }

  .profile-pic {
    max-height: 200px;
    max-width: 200px;
    float: left;
  }

  .about-text {
    font-size: 0.875rem;
  }

  .about-section {
    height: 100vh;
  }

  .layout {
    height: 150vh;
    margin-bottom: 0;
  }

  .ext-layout {
    height: 100vh;
  }

  .contact-layout {
    min-height: 95vh;
    background-color: var(--color-chalk);
    background-size: cover;
    position: relative;
  }

  .p-margin-left-small {
    margin-left: 0;
  }

  .folio-item {
    height: 17.5%;
  }

  .folio-item:nth-of-type(2n) {
    height: 17.5%;
  }

  .hex-clip {
    width: 28%;
  }

  .experience-image {
    width: 45%;
  }
  .form-group input[type='text'],
  .form-group input[type='email'] {
    height: 40px;
  }
  .form-group textarea {
    height: 80px;
  }

  .contact-button-wrapper {
    width: 50px;
    height: 50px;
  }

  .plane-send {
    height: 35px;
  }
}

@media only screen and (max-width: 1100px) {
  .projects-item {
    align-content: space-around;
    max-width: 63%;
  }
  .projects-image {
    flex: 0 0 50%;
    margin: 0 auto;
    max-width: 200px;
    max-width: 200px;
  }

  .projects-detail {
    text-align: center;
    margin-bottom: 15%;
    width: 100%;
  }

  .projects-item:nth-of-type(2n) {
    position: relative;
    left: 0;
  }
}

.wrapper {
  position: relative;
  top: 10%;
  margin: auto;
  width: 90%;
  padding: 2rem;
  background: var(--color-cream);
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px) {
  .wrapper {
    top: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    width: 45%;
    max-height: 73vh;
    overflow: auto;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 35%;
  }
}

form,
input,
textarea,
button {
  font-family: inherit;
  font-size: initial;
}
.form-group label {
  display: block;
  margin: 1rem 0 0.25rem 0;
}
.form-group input[type='text'],
.form-group input[type='email'],
.form-group textarea {
  width: 100%;
  padding: 1rem 0.8rem;
  outline: 0;
  transition: border 0.15s;
  border: 2px solid var(--color-grey-2);
}
.form-group textarea {
  resize: vertical;
}
.contact-submit {
  color: var(--color-cream);
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  background: var(--color-green);
  cursor: pointer;
  transition: background 0.15s;
  flex: 1;
}
i {
  margin-right: 0.5rem;
}
.contact-submit:hover {
  background: var(--color-light-green);
}
.form-group input[type='text']:focus,
.form-group input[type='email']:focus,
.form-group textarea:focus {
  border: 1px solid #222;
}

.form__radio-input {
  margin-left: 25%;
  display: none;
}

.form__radio-label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  border: 5px solid var(--color-menu);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form__radio-button::after {
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
  border: 5px solid var(--color-menu);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-menu);
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.feedback-text {
  padding-top: 5%;
  padding-bottom: 2%;
}

.form__radio-group {
  padding-top: 3%;
}

.form-padding {
  margin-left: 8%;
}
